@charset "UTF-8";
/* Add your custom CSS declarations below  */
nav {
    background-color: #000000;
}
.nav-link {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    float:center;
    padding-top: 40px;
    font-size: 40px;
}
.header {
    background-color: #000;
    padding-top: 10px;
    height:220px;
}
.navbar-nav {
float: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding-top: 50px;
}
.nav-link:hover {
    color:#fff;
    font-size: 50px;
}
.footer {
    background-color: #000;
    color:#fff;
    height: 100px;;
}


